---
Checks: '*,
-fuchsia-*,
-google-*,
-zircon-*,
-abseil-*,
-llvm-*,
-hicpp-vararg,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-modernize-pass-by-value,
-modernize-use-nodiscard,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-reinterpret-cast
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-avoid-magic-numbers,
-readability-magic-numbers,
-readability-implicit-bool-conversion,
'
HeaderFilterRegex: '.*'
